.card{
    width: 175px;
    height: 225px;
    margin: 5px;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
   position: relative;
   
}
.text{
     color: #E9E9E9;
    text-align: center;
    font-weight: 800;
    position: absolute;
    bottom: 0;
    width: 100%;
}