
.WashPage{
  .Wash__inner{
    margin-bottom: 55px;
  }
  .Wash__name{
    margin-top: 100px;
  }
  
  .Wash__map{
    margin-bottom: 50px;
    .Wash__map__inner{
      display: flex;
      width: 100%;
      justify-content: center;
      .map{
        width: 80%;
        height: 250px;
      
      }
    }
    .Wash__map__info{
        display: flex;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
        height: 60px;
        align-items: center;
        background-color: #D9D9D9;
        border-radius: 5px 5px 10px 10px;
      .Wash__map__text{
        font-size: 10px;
        display: block;
      }
      button{
        margin-right: 15px;
      }
    }
  }
  .Wash__read{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
  }
  .WashDescription{
    p, h1{
    display: flex;
    justify-content: center;
    width: 100%; 
    margin-bottom: 15px;
    }
    .WashDescription__text{
      justify-content: center;
      display: flex;
      width: 100%;
      p{
        border-radius: 10px;
        background-color: #D9D9D9;
        padding:10px 20px;
        width: 80%;
        height: 300px;
        overflow-y: scroll;
      }
    }
    margin-bottom: 25px;
  }
  .slider{
     width:100%;
     display: flex;
     justify-content: center;
     margin-bottom: 45px;
    .slider__inner{
      padding-top: 15px;
      width: 100%;
      height: 225px;
      background-color: #4E78E2;
    img{
        background-size: cover;
        width: 100px;
        height: 135px;
        margin-right: 10px;  
    }
    :last-child{
      margin-right: 0;
    }
    .slider__but{
      display: flex;
      width: 100%;
      justify-content: center;
      margin-top: 15px;
      img{ 
          margin: 0 15px;
          width: 40px;
          height:20px; 
          transition: all .1s linear;
      }
      :hover{
          opacity: .8;
          cursor: pointer;
      }
      .curcle__inner{
          display: flex;
          align-items: center;
          .curcle{
              content: " ";
              position: relative;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              margin-right: 10px;
          }
        }     
      }
    }
  }
  .stocks{
    margin-top: -35px;
    margin-bottom: 115px;
  }
 .reviews__form{
  width: 100%;
  background-color: #4E78E2;
  height: 215px;
  margin: 35px 0;
  justify-content: center;
  display: flex;
  .reviews__form__inner{
    width: 100%;
    h1{
      margin-top: 10px;
      color: #ffffff;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    }
    form{
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .field{
      display: flex;
      margin: 0 auto;
      width: 70%;
      height: 85px;
      border-radius: 10px;
      padding: 3px;
 
    }
    .form__inner{
      width: 100%;
    }
    .button__div{
      display: flex;
      justify-content: right;
      width: 85%;
      padding-top: 15px;
      .button{
        background-color: #ffffff;
        color: #4E78E2;
        border-radius: 10px;
        border: 1px solid #fff;
        text-decoration: none;
        padding: 5px 12px;
      }
    }
  }
 }
}
