@import "./../../../scss/color.scss";

.form{
    display: flex;
    padding-top: 100px;
    width: 100%;
    justify-content: center;
    color: rgb(0, 0, 0);
   
    position: relative;
    form{
        margin: 0 40px;
        position: relative;
       top: -35px;
        text-align: center;
    }
    Footer{
        position: absolute;
        bottom: 0;

    }
   .flex{
    display: flex;
    width: 100%;
    justify-content: center;
   }
}
.button__div{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 225px;
    .button{
        border: none;
        input{
            border: none;
            background-color: $blue;
            width: 150px;
            height: 40px;
            border-radius: 5px;
            padding: 5px;
        }
    }
}

.check__st{
    display: flex;
    justify-content: center;
    width: 100%;
   
    .check__inner{
        display: flex;
        label{
            position: relative;
            right:-35px;
            
        }
        .check{
            margin-right: 35px;
        }
    }
}
.field{
    border: 2px #6363F5 solid;
    border-radius: 5px;
    border-bottom: none;
   
}
.marg{
    margin-bottom: 10px;
}
.potw{
    display: flex;
    padding-top: 20px;
    font-size: 14px;
   text-align: left;
   position: relative;
   right: -30px;
    .check__but{
        margin-right: 10px;
    }
}
.images1{
    position: absolute;
    left: 0;
    top: 220px;
    z-index: -1;
}
.images2{
    position: absolute;
    right: 20px;
    top: 350px;
    z-index: -1;
}
.time__butt{
    position: absolute;
    bottom: 125px;
    right: -50px;
    .time__butt__text{
        a{
            font-size: 14px;
     color: #000000;
        }
   
    }
}