@import './../../../scss/color.scss';

.homepage{
    width: 100%;
    height: 100vh;
    background-color: $blue;
    text-align: center;
  

}

.images{
    background-image: url(./../../images/logo.svg);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    padding: 150px 0px 300px 0px;
    width: 100%;
    height: 50px;
}