.About__inner{
    margin-top: 120px;
    position: relative;
    height: 100vh;
}
.About__title__inner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 35px;
}
.About__title{
    background: url(./../../images/About/title__img.png);
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 20px;
}
.About__title__text{
     margin-bottom: 25px;
     padding-top: 25px;
     color: #ffffff;
     width: 100%;
     display: flex;
     justify-content: center;
     h1{
        position: relative;
        top: -10px;
     }
}
.About__img{
   width: 50%;
}
.About__img__inner{
    width: 175px;
    height: 250px;
     background: url(./../../images/About/Car.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.About__text{
font-size: 14px;
  padding-left: 10px;
  display: block;
  margin-bottom: 20px;
  
}
.About__button{
    display: flex;
    justify-content: center;
    width: 100%;
}
.About__card{
   display: flex;
   justify-content: space-between;
}
.partner{
    margin-top: 50px;
    h3{
        text-align: center;
    }
    .About_lastText{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 50px 0;
    position: relative;
    top: 20px;
    }
    .form__inner{
        margin-top: 25px;
        width: 100%;
        height: 100%;
        background-color: #4E78E2;
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 15px;
      label{
        color: #ffffff;
        margin-top: 10px;
       
      }
    }  
    .field{
            width: 100%;
            border-radius: 3px;
            border: 1px solid #fff;
        }
        ::placeholder{
            font-size: 12px;
            padding: 0 3px;
        }
        .potw{
            display: flex;
            .check__but{
                margin-right: 10px;
            }
           
        }
        .button__div{
            display: flex;
            width: 100%;
            justify-content: center;
            margin-bottom: 15px;
             .button{
                
                background-color: #4E78E2;
                color: #ffffff;
                border: 1px solid #4E78E2;
                border-radius: 0px 15px 0px 15px; 
                padding: 15px 15px;
                margin: 15px;
                input{
                    background-color: #4E78E2;
                    border: none;
                    color: #ffffff;

                }
            }
        }
       
}
