@import "./../../../scss/color.scss";
.form{
    display: flex;
    padding-top: 100px;
    width: 100%;
    justify-content: center;
    color: rgb(0, 0, 0);
   
    form{
        margin: 0 40px;
       top: -35px;
        text-align: center;
    }
    Footer{
        position: absolute;
        bottom: 0;

    }
    .title{
        background: url(./../../images/register//Rectangle.png);
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;  
          
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 25px;
        padding-top: 100px;
        .title__inner{
            position: relative;
            top: -60px;
            color: #ffffff;
        }
    }
   .flex{
    display: flex;
    width: 100%;
    justify-content: center;
   }
}
.button__div{
    padding-top: 20px;
    display: flex;
    justify-content: center;
 
    .button{
        margin: 0;
        padding: 0;
        border: none;
        
        input{
            border: none;
            background-color: $blue;
            width: 180px;
            height: 50px;
            border-radius: 5px;
        }
    }
}
.field{
    border: 2px #6363F5 solid;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
    width: 240px;
    height: 50px;
}
.marg{
    margin-bottom: 10px;
}
.images1{
    position: absolute;
    left: 0;
    top: 220px;
    z-index: -1;
}
.images2{
    position: absolute;
    right: 20px;
    top: 350px;
    z-index: -1;
}