@import './../../../scss/color.scss';

nav{
    width: 100%;
    height: 100px;
}

.nav__inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $blue;
    height: 100px;
    box-shadow: 0px 2px 10px 0px #3d3d3d; 
    position: fixed;
    left: 0;top: 0;
    padding: 20px;
    z-index: 10;
    .logo{
        background: url("./../../images/header/logo.svg") center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        width: 215px;
        height: 32px;
    }

    .navR{
        display: block;
        justify-content: right;
            .flex{
                display: flex;
                justify-content: right;
            }
            .peopleIcons{
                width: 28px;
                height: 28px;
                margin-right: 8px;
                cursor: pointer;
            }
            .menu{
                color: black;
                padding: 10px 12px;
                font-size: 14px;
                min-width: 120px;
                display: none;
                cursor: pointer;
                .show{
                    display: block;
                    margin-top: 10px;
        
                }
    
            }
    }


    .button1{
        border: none;
        outline: none;
        background: none;
        
        img{
            width: 28px;
            height: 28px;
        }
    }

}


ul{
    list-style: none;
    position: absolute;
    right: 20px;
    top: 75px;
    text-align: right;
    list-style-position: inside;
    li{
        list-style-type: none;
        color: #ffffff;
        font-size: 18px;
        margin: 0;padding: 0;
        font-weight: 500;
    }
}


