@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 40px 0;

  border: 0;
  background-color: #e5e5e5;
}
